body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;

}

.main-container{
    display: flex ;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */

.main-content-section{
padding: 100px 90px 100px 90px;

}

.main-content-title{

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}

/* Abou me section */
.about-me-section{

    margin: 0 0 40px 0;

}

.about-me-profession{

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 20px 0;
}

.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 25px 0;
}

.about-me-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;


}

.about-me-profession{
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

/* My projects section */

.my-projects-section{

    margin-bottom: 50px;


}

.my-projects-list{

    padding: 0 0 0 17px;
}

.my-projects-item{
    color: #000;
    font-weight: bold;

}

.my-projects-text{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959; 
    margin-left: 5px;
}


.my-projects-link{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959; 
}

.my-projects-bracket{

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: black;
}


/* my work experience */




.my-work-experience-company{
    color: #FB6D3A;


}

.my-work-experience-position{

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.my-work-experience-time{

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 10px 0;
}

.my-work-divider{

color: rgb(0, 0, 0);
}

.my-work-experience-duties{

  
    padding: 0 0 0 18px;
}

.my-work-experience-duty{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959; 
}

.my-work-experience-company-block{

    margin: 0 15px 0 0;

}


/* Education section */

.my-education-section{

margin: 15px 0 0 0;
}

.main-content-title-education{

    margin: 40px 0 0 0;
}

.my-education-place{

    color: #FB6D3A;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0 10px 0;

}

.my-education-profile{

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 10px 0;

}

.my-education-experience-time{

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 10px 0;

}




/* Sidebar section */

 .sidebar-section{

    background-color: #1E2939;
    width: 370px; 
    padding: 40px 0;

}



.contacts-section,
.tech-skills-section,
.soft-skills-section
{
 margin: 50px 0 0 40px;
}


.sidebar-title{

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

/* contacts section */
.contacts-section-link{
    color: #8E949C; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;


}
.contacts-section-type{
    
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
    

}
/*tech-skills-list section */
.tech-skills-list{

    padding: 0 0 0 17px;
}

/* soft-skills-list */
.soft-skills-list{
    padding: 0 0 0 17px;

}

.tech-skills-item{

    color: #FB6D3A;
    ;
}

.soft-skills-item{

    color: #FB6D3A;
    
}

.tech-skills-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;

}

.soft-skills-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;

}

